[project]
	description = Oblivion/2 XRM BBS Software
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Griffin (M-griffin)
[access "refs/for/refs/*"]
	read = group user/Michael Griffin (M-griffin)
	push = group user/Michael Griffin (M-griffin)
	label-Code-Review = -2..+2 group user/Michael Griffin (M-griffin)
	label-Verified = -1..+1 group user/Michael Griffin (M-griffin)
	rebase = group user/Michael Griffin (M-griffin)
	removeReviewer = group user/Michael Griffin (M-griffin)
	submit = group user/Michael Griffin (M-griffin)
[access "refs/heads/*"]
	read = group user/Michael Griffin (M-griffin)
	create = group user/Michael Griffin (M-griffin)
	push = +force group user/Michael Griffin (M-griffin)
	pushMerge = group user/Michael Griffin (M-griffin)
[access "refs/tags/*"]
	push = +force group user/Michael Griffin (M-griffin)
	pushTag = group user/Michael Griffin (M-griffin)
	pushSignedTag = group user/Michael Griffin (M-griffin)
